body {
  margin: 0;
  padding: 0;
  background-color: #eaeaf4;
  height: 1000px;
  font-family: Open Sans, Light;
}

button {
  cursor: pointer;
}

header {
  font-family: Open Sans, Bold;
  color: #fff;
  float: left;
  background-color: #1f1f3d;
  width: 220px;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-top: 16px;
  text-align: center;
}

/*nav {
  padding-top: 16px;
}*/

nav {
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  background-color: #1f1f3d;
}

.mobile-menu-button {
  display: none;
}

h1 {
  margin-top: 0;
  font-size: 25px;
}

.starred-ideas {
  height: 75px;
  width: 100%;
  border-top: 1px solid #5356a4;
  border-bottom: 1px solid #5356a4;
  padding: 15px 0;
}

.light-btn {
  height: 35px;
  width: 95%;
  color: #fff;
  background-color: #5356a4;
  font-weight: bolder;
  font-size: 15px;
  margin:15px 0;
  border: none;
}

.quality-btn-form {
  color: #bfbfdd;
  height: 140px;
  width: 100%;
  padding: 15px 0;
  font-size: 15px;
}

.quality-btn-form legend {
  font-weight: bolder;
  margin-bottom: 10px;
  margin-left: 8px; 
}

.filter-btn {
  color: #bfbfdd;
  font-size: 20px;
  font-weight: lighter;
  height: 35px;
  width:100%;
  background-color: #1f1f3d;
  text-align: left;
  border: none;
}

.highlight-btn {
  color: #bfbfdd;
  font-size: 20px;
  font-weight: lighter;
  height: 35px;
  width:100%;
  text-align: left;
  background-color: #d14119;
  border-left: 4px solid #f58e72;
}

.filter-btn:hover {
  background-color: #d14119;
  border-left: 4px solid #f58e72;
}

.new-quality-label {
  color: #bfbfdd;
  font-weight: bolder;
  font-size: 15px;
  float:left;
  margin-left: 8px;
}

#new-quality-input {
  width:90%;
  height:25px;
  margin-top: 5px;
}

h3,
.starred-ideas legend,
.quality-btn-form legend {
  text-align: left;
  margin-left: 8px;
}

.quality-search-form {
  border-bottom: 1px solid #5356a4;
  width: 100%;
}


/* Main Body */ 

main {
  height :35%;
  margin-left: 220px;
  background-color: #a9aad2;
}

main label {
  font-weight: bolder;
  color: #1f1f3d;
  margin-bottom: 2px;
}

.container {
  padding-top: 15px;
  height: 100%;
  width: 35%;
  margin: auto;
}

main input {
  width: 99%;
  height: 25px;
  margin-top: 5px;
  border: 1px solid #5356a4;
}

.body-input {
  padding: 0 0 95px 0;
}

.title-input {
  margin-bottom: 10px;
}

.save-button {
  width: 100%;
  height: 30px;
  margin: 15px 0;
  background-color: #1f1f3d;
  border: none;
  color: #bfbfdd;
  font-size: 15px;
  font-weight: bolder;
}

#search-form {
  display: flex;
}

.search-input {
  flex: 1;
  height: 30px;
  color: #1f1f3d;
  font-size: 15px;
}

.search-button {
  height:34px;
  width: 30px;
  margin-top: 5px;
  color: #fff;
  background-color: #1f1f3d;
  border: none;
}

i {
  margin:0;
  font-size: 15px;
}

section {
  overflow-y:auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3% 3%;
  height: 55%;
  margin: 0;
  padding: 2% 3%;
}

/* idea card <article> */ 

article {
  padding: 0;
}

img {
  height: 25px;
  width: 25px;
  cursor: pointer;
}


.idea-header {
  background-color: #1F1F3D;
  display: flex;
  justify-content: space-between;
  max-height: 25px;
  padding:0;
  width: 100%;
}

.idea-card-title,
.idea-card-body {
  padding:15px 7px 0;
}

.idea-content {
  background-color: #fff;
  color: #1f1f3d;
  height: 200px;
  margin: 0;
}

.idea-card-quality {
  margin:5px 0;
}

.idea-footer {
  background-color: #5356a4;
  display: flex;
  justify-content: space-between;
  min-height: 30px;
}

@media only screen and (max-width: 600px) {
  
  header {
    width: 100%;
    height: 63px;
    display: block;
    float: none;
  }

  .mobile-menu-button {
    display: block;
    height: 35px;
    width: 30px;
    cursor: pointer;
    float: left;
    margin-left: 10px;
  }

  nav {
    position: absolute;
    display: none;
  }

  h1 {
    margin-right: 30px;
  }

  #new-quality-input {
    width: 94%;
  }

  main {
    width: 100%;
    height: 350px;
    margin: 0;
  }

  .container {
    width: 50%;
  }

  .idea-header {
    max-height: 30px; 
  }

  .idea-card-title {
    margin-top: 0px;
  }

}