body {
  background-color: #eaeaf4;
  font-family: Open Sans, Light;
  height: 1000px;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

header {
  background-color: #1f1f3d;
  color: #fff;
  float: left;
  font-family: Open Sans, Bold;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 220px;
}

nav {
  padding-top: 16px;
}

h1 {
  margin-top: 0;
}

.starred-ideas {
  border-bottom: 1px solid #5356a4;
  border-top: 1px solid #5356a4;
  height: 75px;
  padding: 15px 0;
}

.light-btn {
  background-color: #5356a4;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: bolder;
  height: 35px;
  margin: 15px 0;
  width: 95%;
}

.quality-btn-form {
  color: #bfbfdd;
  font-size: 15px;
  height: 175px;
  padding: 15px 0;
}

.quality-btn-form legend {
  font-weight: bolder;
  margin-bottom: 10px;
  margin-left: 8px;
}

.filter-btn {
  background-color: #1f1f3d;
  border: none;
  color: #bfbfdd;
  font-size: 20px;
  font-weight: lighter;
  height: 35px;
  text-align: left;
  width: 100%;
}

.highlight-btn {
  background-color: #d14119;
  border-left: 4px solid #f58e72;
  color: #bfbfdd;
  font-size: 20px;
  font-weight: lighter;
  height: 35px;
  text-align: left;
  width: 100%;
}

.filter-btn:hover {
  background-color: #d14119;
  border-left: 4px solid #f58e72;
}

.new-quality-label {
  color: #bfbfdd;
  float: left;
  font-size: 15px;
  font-weight: bolder;
  margin-left: 8px;
}

#new-quality-input {
  height: 25px;
  margin-top: 5px;
  width: 90%;
}

h3,
.starred-ideas legend,
.quality-btn-form legend {
  margin-left: 8px;
  text-align: left;
}

.quality-search-form {
  border-bottom: 1px solid #5356a4;
}


/* Main Body */

main {
  background-color: #a9aad2;
  height: 35%;
  margin-left: 220px;
}

main label {
  color: #1f1f3d;
  font-weight: bolder;
  margin-bottom: 2px;
}

.container {
  height: 100%;
  margin: auto;
  padding-top: 15px;
  width: 35%;
}

main input {
  border: 1px solid #5356a4;
  height: 25px;
  margin-top: 5px;
  width: 99%;
}

.body-input {
  padding: 0 0 95px 0;
}

.title-input {
  margin-bottom: 10px;
}

.save-button {
  background-color: #1f1f3d;
  border: none;
  color: #bfbfdd;
  font-size: 15px;
  font-weight: bolder;
  height: 30px;
  margin: 15px 0;
  width: 100%;
}

#search-form {
  display: flex;
}

.search-input {
  color: #1f1f3d;
  flex: 1;
  font-size: 15px;
  height: 30px;
}

.search-button {
  background-color: #1f1f3d;
  border: none;
  color: #fff;
  height: 34px;
  margin-top: 5px;
  width: 30px;
}

i {
  font-size: 15px;
  margin: 0;
}

section {
  display: grid;
  grid-gap: 3% 3%;
  grid-template-columns: repeat(3, 1fr);
  height: 55%;
  margin: 0;
  overflow-y: auto;
  padding: 2% 3%;
}

/* idea card <article> */

article {
  padding: 0;
}

img {
  cursor: pointer;
  height: 25px;
  width: 25px;
}


.idea-header {
  background-color: #1F1F3D;
  display: flex;
  justify-content: space-between;
  max-height: 25px;
  padding: 0;
  width: 100%;
}

.idea-card-title,
.idea-card-body {
  padding: 15px 7px 0;
}

.idea-content {
  background-color: #fff;
  color: #1f1f3d;
  height: 200px;
  margin: 0;
}

.idea-card-quality {
  margin: 5px 0;
}

.idea-footer {
  background-color: #5356a4;
  display: flex;
  justify-content: space-between;
  min-height: 30px;
}

@media only screen and (max-width: 600px) {

  header {
    display: block;
    float: none;
    height: 500px;
    width: 100%;
  }

  #new-quality-input {
    width: 94%;
  }

  main {
    height: 350px;
    margin: 0;
    width: 100%;
  }

  .container {
    width: 50%;
  }

}